html, body {
    padding-top: 150px;
    margin-left: 300px;
}

#input-field{
    padding: 10px;
    border-radius: 3px;
    border-color: black;
}

#add-button{
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
}

#add-button:hover{
    cursor: pointer;
}